{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EXAMEN FINAL</title>
        <link rel="shorcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Dancing+Script&family=Labrada:ital,wght@1,100&family=Poppins:wght@200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Dancing+Script&family=Labrada:ital,wght@1,100&family=Poppins:ital,wght@0,200;0,600;1,200;1,400&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
<nav> 
<ul class="menu"> 
    <li>  <a href="https://web2.unfv.edu.pe/Sitio/"><img src="{% static 'img/unfv.png'%}"  alt="villa1" height="60" flex: 1; object-fit: contain; ></a></li>
    <li> <a href=" "></a></li>
    <li> <a href=" "></a></li>
    <li> <a href=" "></a></li>
    <li> <a href=" "></a></li>
    <li> <a href=" "></a></li>
    <li> <a href=" "></a></li>
    <li> <a href="{% url 'inicio'%}">Inicio</a></li>
    <li> <a href="{% url 'nosotros'%}">Nosotros</a> </li>
    <li> <a href="{% url 'vision'%}">Vision</a></li>
    <li> <a href="{% url 'aplicaciones'%}">aplicaciones</a></li>
</ul>
<br>
<br>
<br>
</nav>
</head>
<body>
    <br>
    <div class="title">
        <h1>APLICACIONES</h1>
    </div>
    <div class="villareal">
        <li><center><img src="{% static 'img/villareal.jpg' %}" alt="villareal" height="600" flex: 1; object-fit: contain;>
        </center></li>
        </div>
<br>
        <h2><center>HALLAR LA SUMA DE LAS SIGUIENTES MATRICES:</center></h2>
        <center><img src="{% static 'img/sumamatriz.jpg' %}" alt="matriz" height="300" flex: 1; object-fit: contain;></center>
        <br>
        <h2><center>RESPUESTA:<br>
        La suma de las matrices es: {{suma}}</center></h2>

<footer>

</footer>
<ul class="footpage">
    <li><a href="https://goo.gl/maps/XDzSYRe5BgmnoJZU7">DIRECCIÓN:<br><br>
    Jr. Carlos Gonzáles 285 Urb. Maranga - San Miguel</a></li>
    <li><a href="https://goo.gl/maps/XDzSYRe5BgmnoJZU7">CENTRAL TELEFÓNICA:<br><br>
    (+51) 748 0888</a></li>
    <li><a href="https://goo.gl/maps/XDzSYRe5BgmnoJZU7">CORREO INSTITUCIONAL:<br><br>
    occii@unfv.edu.pe</a></li>
</ul>

</body>
</html>

</body>
</html>